@{
    ViewData["Title"] = "Androids";
}

<span id="GetAndroidsUrl" style="display:none">@Url.Action("Get", "Androids")</span>
<span id="PostAndroidsUrl" style="display:none">@Url.Action("Post", "Androids")</span>
<span id="PutAndroidsUrl" style="display:none">@Url.Action("Put", "Androids")</span>
<span id="DeleteAndroidsUrl" style="display:none">@Url.Action("Delete", "Androids")</span>
<span id="GetJobsUrl" style="display:none">@Url.Action("Get", "Jobs")</span>
<span id="GetSkillsUrl" style="display:none">@Url.Action("Skills", "Androids")</span>
<div class="row">
    <div class="col-sm-12">
        <br />
        <div id="AndroidsPannel">
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src=@Url.Content("~/js/Androids/Android.jsx")></script>
    <script src=@Url.Content("~/js/Androids/CreateAndroidButton.jsx")></script>
    <script src=@Url.Content("~/js/Androids/SkillNameInput.jsx")></script>
    <script src=@Url.Content("~/js/Androids/AddSkillPanel.jsx")></script>
    <script src=@Url.Content("~/js/Androids/AndroidNameInput.jsx")></script>
    <script src=@Url.Content("~/js/Androids/AndroidJobInput.jsx")></script>
    <script src=@Url.Content("~/js/Androids/CreateAndroidForm.jsx")></script>
    <script src=@Url.Content("~/js/Androids/UpdateAndroidForm.jsx")></script>
    <script src=@Url.Content("~/js/Androids/AndroidsPanelBody.jsx")></script>
    <script src=@Url.Content("~/js/Androids/AndroidsPannel.jsx")></script>
}
